* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF7F2;
    color:#2B2B2B;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p, a, li, span, button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header/navigation */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FAF7F2;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.nav ul li a {
    text-decoration: none;
    font-weight: normal;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}
.hero-content {
    max-width: 50%;
}
.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
}
.hero-content p {
    font-size: 1rem;
}
.hero-content button {
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #BA7517 ;
    cursor: pointer;
}
.hero-content button a {
    text-decoration: none;
    background-color: #BA7517 ;
}
.hero-content .social-link ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 10px;
}
.hero-content .social-link ul li a {
    text-decoration: none;
    border: 1px solid #E5DFD3;
    padding: 10px;
    border-radius: 100%;
    align-self: center;
}
.hero-image {
    max-width: 50%;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

/* About Section */
.about-header {
    padding: 50px;
}
.about-header h2 {
    font-size: 2.5rem;
    font-weight: 900;
}
.about-section {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.about-image {
    max-width: 50%;
}
.about-image img {
    max-width: 100%;
    height: auto;
}
.about-content {
    max-width: 50%;
}

/* Skills Section */
.skill-section {
    padding: 50px;
}
.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}
.skill-cards .card {
    margin: 10px;
    padding: 10px;
    width: 20vw;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.skill-cards .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

/* Project Section */
.projects {
    padding: 50px;
}
.project-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    
}
.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.project-card ul {
    display:flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.project-card ul li {
    border: 2px solid #E5DFD3;
    border-radius: 15px;
    padding: 5px 10px;
}
.project-card .btn-link {
    display: flex;
    justify-content: center;
}
.project-card .btn-link a {
    margin: 10px 0 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #E5DFD3;
    width: 100%;
}
/* faq */
.faq-section {
    padding: 50px;
}
.faq-item {
    border: 1px solid #E5DFD3;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
